---
import type { HeadProps } from '@interfaces/head-props';
import Layout from '@layouts/Layout.astro';

const props: HeadProps = {
  description: 'A collection of my ramblings.',
  ogTitle: 'Check out my blog!',
  tabTitle: 'Blog',
};
---

<Layout {...props}>
  <h1>Recent Posts</h1>
  <p>Coming soon!</p>
</Layout>
