---
import type { HeadProps } from '@interfaces/head-props';
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
posts.sort((a: any, b: any) => b.data.date.getTime() - a.data.date.getTime());

const props: HeadProps = {
  description: 'A collection of my ramblings.',
  ogTitle: 'Check out my blog!',
  tabTitle: 'Blog',
};
---

<Layout {...props}>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
