@import 'tailwindcss';

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

@theme {
  --animate-fade-in-up: fade-in-up 600ms ease-in-out;
  --animate-wave: wave 3000ms linear 1000ms;
  --color-primary: oklch(0.67 0.11 245.55);

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@layer components {
  .expressive-code {
    margin-top: calc(var(--spacing) * 4);
  }

  .giscus {
    margin-top: calc(var(--spacing) * 8);
  }
}

@layer base {
  h1,
  h2,
  h3 {
    font-weight: var(--font-weight-bold);
  }

  h1,
  h2 {
    color: var(--color-neutral-900);

    @variant dark {
      color: var(--color-neutral-300);
    }
  }

  h1,
  article h1,
  section h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-xl);
  }

  h3 {
    font-size: var(--text-lg);
  }

  p {
    margin-top: calc(var(--spacing) * 4);
  }

  :not(pre) > code {
    background-color: var(--color-neutral-200);
    border-radius: var(--radius-xs);
    font-size: var(--text-sm);
    padding: 0 var(--spacing);

    @variant dark {
      background-color: var(--color-neutral-800);
    }
  }

  article {
    h2 {
      border-bottom: solid 1px var(--color-neutral-700);
      margin-top: calc(var(--spacing) * 8);
      margin-bottom: calc(var(--spacing) * 4);

      @variant dark {
        border-bottom: solid 1px var(--color-neutral-400);
      }
    }

    h3 {
      margin-top: calc(var(--spacing) * 4);
    }

    ul {
      list-style-type: disc;
      margin-left: calc(var(--spacing) * 8);
    }
  }
}

@utility bg-size-20 {
  background-size: 20px 20px;
}

@utility mask-image {
  mask-image: linear-gradient(0deg, transparent 5%, var(--color-black));
}

#darkIcon {
  display: block;

  @variant dark {
    display: none;
  }
}

#lightIcon {
  display: none;

  @variant dark {
    display: block;
  }
}
