---
import IconButton from '@components/IconButton.astro';
import { Icon } from 'astro-icon/components';

type Props = Record<string, never>;
const {} = Astro.props;
---

<div class="fixed right-0 bottom-0 hidden p-4 text-2xl/6" id="backToTop">
  <IconButton as="button" id="backToTopBtn" aria-label="Scroll to top">
    <Icon name="arrow-up" />
  </IconButton>
</div>

<script>
  import { debounce } from 'lodash';

  const backToTop = document.getElementById('backToTop');
  const backToTopBtn = document.getElementById('backToTopBtn');
  const NAV_HEIGHT = 88;

  backToTopBtn?.addEventListener('click', (e) => scrollToTop(e));
  document.addEventListener('scroll', debounce(onScroll, 100));

  function onScroll(): void {
    window.scrollY > NAV_HEIGHT
      ? backToTop?.classList.remove('hidden')
      : backToTop?.classList.add('hidden');
  }

  function scrollToTop(e: MouseEvent): void {
    e.preventDefault();

    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  }
</script>
