---
import IconButton from '@components/IconButton.astro';
import { Icon } from 'astro-icon/components';

type Props = Record<string, never>;
const {} = Astro.props;
---

<div class="fixed right-0 bottom-0 hidden p-4 text-2xl/6" id="backToTop">
  <IconButton as="button" id="backToTopBtn" aria-label="Scroll to top">
    <Icon name="arrow-up" />
  </IconButton>
</div>

<script>
  import { debounce } from 'lodash';

  const NAV_HEIGHT = 88;
  let backToTop: HTMLElement | null = null;
  let backToTopBtn: HTMLElement | null = null;

  const onScroll = debounce(() => {
    backToTop?.classList.toggle('hidden', window.scrollY <= NAV_HEIGHT);
  }, 100);

  const scrollToTop = (e: MouseEvent): void => {
    e.preventDefault();
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  };

  function init(): void {
    backToTop = document.getElementById('backToTop');

    if (backToTopBtn) {
      backToTopBtn.removeEventListener('click', scrollToTop);
    } else {
      document.addEventListener('scroll', onScroll);
    }

    backToTopBtn = document.getElementById('backToTopBtn');
    backToTopBtn?.addEventListener('click', scrollToTop);
  }

  init();
  document.addEventListener('astro:after-swap', () => init());
</script>
