---
import NavLink from '@/components/layout/NavLink.astro';
import ThemeBtn from '@/components/layout/ThemeBtn.astro';

type Props = Record<string, never>;
const {} = Astro.props;
---

<header class="grid h-22 grid-cols-[1fr_min-content] items-center gap-x-4">
  <nav class="flex justify-between">
    <a
      href="/"
      target="_self"
      aria-label="Home"
      class="rounded focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none"
    >
      <img src="/images/hs.png" alt="Site logo" width="60" height="24" />
    </a>
    <div class="flex gap-x-4">
      <NavLink href="/blog">Blog</NavLink>
    </div>
  </nav>
  <div class="text-xl/6">
    <ThemeBtn />
  </div>
</header>
