---
type Props = { children: any };
const {} = Astro.props;
---

<li class="mb-8">
  <section>
    <div class="items-baseline justify-between md:flex">
      <div>
        <h3 class="inline text-base">
          <slot name="title" />,
          <span class="font-normal">
            <slot name="company" />
          </span>
        </h3>
        <small>&mdash; <slot name="location" /></small>
      </div>
      <div>
        <slot name="date" />
      </div>
    </div>
    <slot />
  </section>
</li>
