---
type Props = { children: any };
const {} = Astro.props;
---

<li class="mt-4">
  <section>
    <div class="items-baseline justify-between sm:flex">
      <h3>
        <slot name="company" />
      </h3>
      <b>
        <slot name="location" />
      </b>
    </div>
    <div class="flex flex-col-reverse sm:flex-row sm:justify-between">
      <div>
        <slot name="title" />
      </div>
      <div>
        <slot name="date" />
      </div>
    </div>
    <slot />
  </section>
</li>
