---
type Props = { children: any };
const {} = Astro.props;
---

<section class="mt-8">
  <h2 class="mb-4 border-b border-neutral-700 dark:border-neutral-400">
    <slot name="header" />
  </h2>
  <slot />
</section>
