---
import Item from '@/components/about/Item.astro';
import Section from '@/components/about/Section.astro';
import type { HeadProps } from '@/interfaces/head-props';
import Layout from '@/layouts/Layout.astro';

const props: HeadProps = {
  description: 'A résumé-style summary of my development history.',
  tabTitle: 'About',
};
---

<Layout {...props}>
  <h1>About Me</h1>

  <Section>
    <Fragment slot="header">Skills</Fragment>
    <ul>
      <li>
        <b>Languages: </b>
        TypeScript, JavaScript, HTML, CSS, SASS, C#
      </li>
      <li>
        <b>Libraries: </b>
        React, Angular, Tailwind CSS, RxJS, Playwright, Astro, Aurelia, Angular Material,
        Bootstrap
      </li>
      <li>
        <b>Tools: </b>
        Vite, CI/CD, Figma, .NET Framework
      </li>
    </ul>
  </Section>

  <Section>
    <Fragment slot="header">Experience</Fragment>
    <ul>
      <Item>
        <Fragment slot="title">Senior Software Engineer</Fragment>
        <Fragment slot="company">Omatic</Fragment>
        <Fragment slot="location">Mt Pleasant, SC</Fragment>
        <Fragment slot="date">June 2025 &mdash; Present</Fragment>
        <p>
          Building awesome products to better enable non-profit organizations.
        </p>
      </Item>
      <Item>
        <Fragment slot="title">Senior Software Engineer</Fragment>
        <Fragment slot="company">Ncontracts</Fragment>
        <Fragment slot="location">Brentwood, TN</Fragment>
        <Fragment slot="date">Sept 2024 &mdash; June 2025</Fragment>
        <p>
          Led front-end architecture implementation for Vendor Management, a
          next-generation platform combining the Venminder and Nvendor products.
          Modernized existing front-end systems by migrating a 90+ React
          component library from JavaScript to TypeScript and improving
          performance by transitioning from Webpack to Vite.
        </p>
      </Item>
      <Item>
        <Fragment slot="title">Senior Software Engineer II</Fragment>
        <Fragment slot="company">Venminder</Fragment>
        <Fragment slot="location">Elizabethtown, KY</Fragment>
        <Fragment slot="date">Sept 2023 &mdash; Sept 2024</Fragment>
        <p>
          Led all front-end development for Venminder, a SaaS third-party risk
          management platform serving 1,200+ clients with $30M+ ARR. Directed
          product-wide initiatives, such as converting font sizes to rem units
          for accessibility and scaling component library adoption.
        </p>
      </Item>
      <Item>
        <Fragment slot="title">Senior Software Engineer I</Fragment>
        <Fragment slot="company">Venminder</Fragment>
        <Fragment slot="location">Elizabethtown, KY</Fragment>
        <Fragment slot="date">Nov 2021 &mdash; Sept 2023</Fragment>
        <p>
          Created a reusable internal component library of 25+ components,
          standardizing Venminder's design system. Developed a high-performance
          grid component supporting 50,000+ rows, enabling sorting, filtering,
          pagination, and dynamic content. Regularly refactored legacy pages,
          including a major refactor that removed 5,000+ lines of code and cut
          bug reports by 89%.
        </p>
      </Item>
      <Item>
        <Fragment slot="title">Web Application Developer II</Fragment>
        <Fragment slot="company">Hexagon</Fragment>
        <Fragment slot="location">Madison, AL</Fragment>
        <Fragment slot="date">June 2019 &mdash; Nov 2021</Fragment>
        <p>
          Developed the front-end for HxGN Connect, a city government SaaS
          platform using Angular and a micro-frontend architecture comprised of
          42 npm packages. Built HxGN Connect Video Streamer, an Angular-based
          security camera management system with real-time video integration.
          Led internationalization efforts, converting products to support
          right-to-left (RTL) languages.
        </p>
      </Item>
      <Item>
        <Fragment slot="title">Software Developer (Intern)</Fragment>
        <Fragment slot="company">Compassion International</Fragment>
        <Fragment slot="location">Colorado Springs, CO</Fragment>
        <Fragment slot="date">June 2018 &mdash; Aug 2018</Fragment>
        <p>
          Designed and developed the UI for a mobile app using Angular, enabling
          7,000+ International Church Partners to manage beneficiaries
          digitally, saving an estimated 500,000+ working hours annually.
        </p>
      </Item>
      <Item>
        <Fragment slot="title">Full-Stack .NET Developer</Fragment>
        <Fragment slot="company">Auburn University</Fragment>
        <Fragment slot="location">Auburn, AL</Fragment>
        <Fragment slot="date">Jan 2016 &mdash; June 2018</Fragment>
        <p>
          Led a team of three developers to build Auburn University's Football
          Student Ticketing Center (AUFSTC), receiving 30,000+ visits per
          season. Orchestrated team-wide testing sessions, drafting test plans
          and ensuring accessibility compliance for a public institution.
        </p>
      </Item>
    </ul>
  </Section>

  <Section>
    <Fragment slot="header">Education</Fragment>
    <ul>
      <li>
        <section>
          <div class="items-baseline justify-between md:flex">
            <div>
              <h3 class="inline text-base">Auburn University</h3>
              <span>&mdash; BS in Software Engineering, <i>cum laude</i></span>
            </div>
            <div>May 2019</div>
          </div>
          <div>Minor in Business/Engineering Technology</div>
        </section>
      </li>
    </ul>
  </Section>
</Layout>
