---
import Layout from '@layouts/Layout.astro';

const pageTitle = 'Hunter Simpson | Resume';
const pageDescription = 'A summary of my development experience.';
---

<Layout title={pageTitle} description={pageDescription}>
  <h1 class="text-3xl font-bold underline">Coming soon</h1>
</Layout>
