---
import Link from '@components/Link.astro';
import Layout from '@layouts/Layout.astro';

const pageTitle = 'Hunter Simpson';
const pageDescription =
  'My personal minimalist website built with efficiency and accessibility in mind.';
---

<Layout title={pageTitle} description={pageDescription}>
  <div class="motion-safe:animate-fade-in-up">
    <h1 class="text-2xl font-bold text-neutral-900 dark:text-neutral-300">
      Hi, I'm Hunter 👋🏻
    </h1>
    <p class="mt-5">
      I'm a senior software engineer with nearly 8 years of experience in
      front-end web development. I'm currently living in Huntsville, AL and
      working at
      <Link href="https://www.ncontracts.com/" target="_blank" rel="noopener">
        Ncontracts
      </Link> where I am building scalable front-end architectures for their SaaS
      platforms, servicing thousands of clients and generating over $100M in annual
      revenue.
    </p>
    <p class="mt-5">
      Proficient in modern frameworks like
      <Link href="https://angular.dev/" target="_blank" rel="noopener">
        Angular
      </Link> and
      <Link href="https://react.dev/" target="_blank" rel="noopener">
        React
      </Link>, I've led teams in creating internal component libraries,
      enhancing accessibility, and driving product-wide improvements.
    </p>
    <p class="mt-5">
      In my free time, I enjoy hanging out with my wife and our two cats,
      playing board games with friends, and
      <Link href="/tv-rankings">binge-watching tv shows</Link>.
    </p>
    <p class="mt-5">
      If you'd like to contact me, please feel free to
      <Link href="mailto:hi@hunter-simpson.dev">send me an email</Link>.
    </p>
  </div>
</Layout>
