---
import Layout from '@layouts/Layout.astro';

const pageTitle = 'Hunter Simpson';
const pageDescription = "Hunter Simpson's personal website";
---

<Layout title={pageTitle} description={pageDescription}>
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
</Layout>
