---
import type { HeadProps } from '@interfaces/head-props';
import Layout from '@layouts/Layout.astro';

const props: HeadProps = {
  description: 'A list of all tv shows I have seen ranked by category.',
  ogImageUrl: '/og/tv.png',
  ogTitle: 'The Greatest TV Shows of All Time',
  tabTitle: 'TV Rankings',
};
---

<Layout {...props}>
  <h1>THE Definitive TV Series Rankings*</h1>
  <small class="italic">*According to Hunter</small>

  <section class="mt-8">
    <h2 class="border-b border-neutral-700 dark:border-neutral-400">
      The Top 10
    </h2>

    <ol class="mt-4 ml-10 list-decimal">
      <li>Dark</li>
      <li>Breaking Bad</li>
      <li>Daredevil</li>
      <li>The Office</li>
      <li>Ted Lasso</li>
      <li>Mr. Robot</li>
      <li>Mindhunter</li>
      <li>Silo</li>
      <li>Ozark</li>
      <li>Stranger Things</li>
    </ol>
  </section>

  <section class="mt-8">
    <h2 class="border-b border-neutral-700 dark:border-neutral-400">
      The List (135)
    </h2>

    <div class="md:flex">
      <div class="flex-1 px-2">
        <section class="mt-4">
          <h3 class="mb-1">Animated</h3>
          <ol class="ml-8 list-decimal">
            <li>Avatar the Last Airbender</li>
            <li>SpongeBob SquarePants</li>
            <li>Family Guy</li>
            <li>American Dad</li>
            <li>Pokémon</li>
            <li>The Cleveland Show</li>
          </ol>
        </section>

        <section class="mt-4">
          <h3 class="mb-1">Apple TV+</h3>
          <ol class="ml-8 list-decimal">
            <li>Ted Lasso (2x)</li>
            <li>Silo</li>
            <li>Severance</li>
            <li>For All Mankind</li>
            <li>The Morning Show</li>
            <li>Mythic Quest</li>
            <li>Defending Jacob</li>
            <li>See</li>
            <li>Foundation</li>
          </ol>
        </section>

        <section class="mt-4">
          <h3 class="mb-1">Automotive</h3>
          <ol class="ml-8 list-decimal">
            <li>Top Gear</li>
            <li>The Grand Tour</li>
            <li>Top Gear USA</li>
          </ol>
        </section>

        <section class="mt-4">
          <h3 class="mb-1">Comedies</h3>
          <ol class="ml-8 list-decimal">
            <li>The Office (7x)</li>
            <li>Parks and Rec (3x)</li>
            <li>Brooklyn 99 (2x)</li>
            <li>Community (3x)</li>
            <li>New Girl (2x)</li>
            <li>Psych (2x)</li>
            <li>The Good Place</li>
            <li>30 Rock</li>
            <li>Superstore (2x)</li>
            <li>What We Do in the Shadows</li>
            <li>Unbreakable Kimmy Schmidt</li>
            <li>Abbott Elementary</li>
            <li>Schitt's Creek</li>
            <li>The League</li>
            <li>Scrubs</li>
            <li>Space Force</li>
            <li>Kim's Convenience</li>
            <li>Friends</li>
            <li>How I Met Your Mother</li>
            <li>Modern Family</li>
            <li>The Last Man on Earth</li>
            <li>Seinfeld</li>
            <li>The Office (UK)</li>
            <li>Arrested Development</li>
            <li>Shameless</li>
            <li>Young and Hungry</li>
          </ol>
        </section>

        <section class="mt-4">
          <h3 class="mb-1">Disney+</h3>
          <ol class="ml-8 list-decimal">
            <li>Daredevil (x2)</li>
            <li>Loki</li>
            <li>Andor</li>
            <li>The Mandalorian</li>
            <li>Moon Knight</li>
            <li>The Punisher</li>
            <li>What If?</li>
            <li>She-Hulk</li>
            <li>WandaVision</li>
            <li>Jessica Jones</li>
            <li>Falcon and the Winter Soldier</li>
            <li>Luke Cage</li>
            <li>Hawkeye</li>
            <li>Iron Fist</li>
            <li>The Defenders</li>
            <li>Echo</li>
            <li>Secret Invasion</li>
          </ol>
        </section>

        <section class="mt-4">
          <h3 class="mb-1">Documentaries</h3>
          <ol class="ml-8 list-decimal">
            <li>Planet Earth II</li>
            <li>Planet Earth</li>
            <li>The Last Dance</li>
          </ol>
        </section>
      </div>

      <div class="flex-1 px-2">
        <section class="mt-4">
          <h3 class="mb-1">Dramas</h3>
          <ol class="ml-8 list-decimal">
            <li>Breaking Bad (x2)</li>
            <li>Mr. Robot</li>
            <li>The Bear</li>
            <li>Better Call Saul</li>
            <li>Agents of SHIELD</li>
            <li>Dexter</li>
            <li>The 100</li>
            <li>Lost</li>
            <li>The Magicians</li>
            <li>Sherlock</li>
            <li>Hannibal</li>
            <li>Only Murders in the Building</li>
            <li>Suits</li>
            <li>The Walking Dead</li>
            <li>The Blacklist</li>
            <li>Heroes</li>
            <li>Fargo</li>
            <li>The Boys</li>
            <li>The Act</li>
            <li>Terra Nova</li>
            <li>Arrow</li>
            <li>The Fall</li>
            <li>Orphan Black</li>
            <li>The Man in the High Castle</li>
            <li>The Americans</li>
            <li>Utopia</li>
            <li>The River</li>
            <li>Black Sails</li>
            <li>Firefly</li>
            <li>The Expanse</li>
            <li>Fear the Walking Dead</li>
          </ol>
        </section>

        <section class="mt-4">
          <h3 class="mb-1">HBO</h3>
          <ol class="ml-8 list-decimal">
            <li>The Last of Us</li>
            <li>The Leftovers</li>
            <li>Westworld</li>
            <li>The Wire</li>
            <li>Chernobyl</li>
            <li>Game of Thrones</li>
          </ol>
        </section>

        <section class="mt-4">
          <h3 class="mb-1">Netflix</h3>
          <ol class="ml-8 list-decimal">
            <li>Dark (x3)</li>
            <li>Mindhunter</li>
            <li>Ozark</li>
            <li>Stranger Things</li>
            <li>All of Us Are Dead</li>
            <li>Money Heist</li>
            <li>Kingdom</li>
            <li>Squid Game</li>
            <li>The Umbrella Academy</li>
            <li>Alice in Borderland</li>
            <li>Lupin</li>
            <li>Black Mirror</li>
            <li>Sweet Tooth</li>
            <li>Clickbait</li>
            <li>Outer Banks</li>
            <li>Dead to Me</li>
            <li>The Queen's Gambit</li>
            <li>Maniac</li>
            <li>You</li>
            <li>Cobra Kai</li>
            <li>Waco</li>
            <li>A Series of Unfortunate Events</li>
            <li>House of Cards</li>
            <li>Narcos</li>
            <li>Peaky Blinders</li>
            <li>Black Summer</li>
            <li>Dragons Race to the Edge</li>
            <li>Orange is the New Black</li>
          </ol>
        </section>

        <section class="mt-4">
          <h3 class="mb-1">Reality</h3>
          <ol class="ml-8 list-decimal">
            <li>Survivor</li>
            <li>Survivor (AU)</li>
            <li>The Traitors</li>
            <li>Deal or No Deal Island</li>
            <li>The Challenge</li>
            <li>Big Brother</li>
          </ol>
        </section>
      </div>
    </div>
  </section>
</Layout>
