---
import Layout from '@layouts/Layout.astro';

const pageTitle = 'Hunter Simpson | TV Rankings';
const pageDescription =
  'A list of all tv shows I have seen ranked by category.';
---

<Layout title={pageTitle} description={pageDescription}>
  <h1 class="text-3xl font-bold underline">Coming soon</h1>
</Layout>
