---
import ThemeToggle from '@components/ThemeToggle.astro';

type Props = Record<string, never>;
const {} = Astro.props;
---

<footer
  class="mt-12 flex items-center gap-x-5 border-t py-3 lg:justify-between"
>
  <div class="text-sm">&copy; 2025 | Hunter Simpson</div>
  <ThemeToggle id="light-btn" icon="sun" aria-label="Set dark mode theme" />
  <ThemeToggle id="dark-btn" icon="moon" aria-label="Set light mode thee" />
</footer>

<script>
  const darkBtn = document.getElementById('dark-btn');
  const lightBtn = document.getElementById('light-btn');
  let hasThemeLoaded = false;

  function loadTheme(): void {
    const storedTheme = localStorage.theme;
    if (storedTheme === 'dark' || storedTheme === 'light') {
      setTheme(storedTheme === 'dark');
    } else {
      setTheme(window.matchMedia('(prefers-color-scheme: dark)').matches);
    }

    darkBtn?.addEventListener('click', () => setTheme(true));
    lightBtn?.addEventListener('click', () => setTheme(false));

    hasThemeLoaded = true;
  }

  function setTheme(isDark: boolean): void {
    localStorage.setItem('theme', isDark ? 'dark' : 'light');
    document.documentElement.classList.toggle('dark', isDark);

    darkBtn?.classList.toggle('hidden', isDark);
    lightBtn?.classList.toggle('hidden', !isDark);

    if (hasThemeLoaded) {
      (isDark ? lightBtn : darkBtn)?.focus();
    }
  }

  loadTheme();
</script>
