---
import NavBtn from '@components/NavButton.astro';
import { Icon } from 'astro-icon/components';

type Props = Record<string, never>;
const {} = Astro.props;
---

<header>
  <nav id="nav" class="flex h-22 items-center justify-between">
    <a
      href="/"
      target="_self"
      aria-label="Home"
      class="focus-visible:ring-primary rounded focus-visible:ring-2 focus-visible:outline-none"
    >
      <img src="/hs.png" alt="Site logo" width="60" height="24" />
    </a>
    <div class="flex gap-x-5 text-2xl/6">
      <NavBtn
        as="a"
        href="https://github.com/hsimpson270/portfolio"
        aria-label="Github"
      >
        <Icon name="github" />
      </NavBtn>
      <NavBtn
        as="a"
        href="https://www.linkedin.com/in/hsimpson270/"
        aria-label="LinkedIn"
      >
        <Icon name="linkedin" />
      </NavBtn>
    </div>
  </nav>
</header>
