---
interface Props {
  href: string;
  [x: string]: any;
}

const { href, ...props } = Astro.props;
---

<a
  href={href}
  class="inline-block text-neutral-900 underline decoration-neutral-400 underline-offset-2 hover:decoration-neutral-900 focus:decoration-neutral-900 dark:text-neutral-300 dark:decoration-neutral-600 dark:hover:decoration-neutral-300 dark:focus:decoration-neutral-300 dark:focus-visible:outline-none"
  {...props}
>
  <slot />
</a>
