---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  children: any;
}

const { ...attrs } = Astro.props;
---

<button
  class="hover:text-primary focus:text-primary flex cursor-pointer focus-visible:outline-none"
  {...attrs}
>
  <slot />
</button>
