---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  children: any;
}

const { ...attrs } = Astro.props;
---

<a
  class="flex hover:text-neutral-900 hover:underline focus:text-neutral-900 focus:underline hover:dark:text-neutral-300 focus:dark:text-neutral-300 dark:focus-visible:outline-none"
  {...attrs}
>
  <slot />
</a>
