---
interface Props {
  href: string;
  [x: string]: any;
}

const { href, ...props } = Astro.props;
---

<a
  href={href}
  class="flex hover:text-neutral-900 hover:underline focus:text-neutral-900 focus:underline hover:dark:text-neutral-300 focus:dark:text-neutral-300 dark:focus-visible:outline-none"
  {...props}
>
  <slot />
</a>
