---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  icon: string;
}

const { icon, ...attrs } = Astro.props;
---

<button
  class="flex cursor-pointer hover:text-neutral-900 focus:text-neutral-900 hover:dark:text-neutral-300 focus:dark:text-neutral-300 dark:focus-visible:outline-none"
  {...attrs}
>
  <Icon name={icon} />
</button>
