---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'img'> {}

const { ...attrs } = Astro.props;
---

<div class="mt-4 flex justify-center">
  <img alt={attrs.alt} {...attrs} />
</div>
