---
import BackToTop from '@/components/layout/BackToTop.astro';
import Footer from '@/components/layout/Footer.astro';
import Head from '@/components/layout/Head.astro';
import Header from '@/components/layout/Header.astro';
import type { HeadProps } from '@/interfaces/head-props';
import '../styles/global.css';

const { ...props } = Astro.props as HeadProps;
---

<!doctype html>
<html lang="en" class="motion-safe:scroll-smooth">
  <Head {...props} />
  <body
    class="mx-auto max-w-3xl bg-neutral-50 px-3 text-base text-neutral-700 antialiased md:px-0 dark:bg-neutral-950 dark:text-neutral-400"
  >
    <div
      class="fixed top-0 left-0 -z-1 h-full w-full bg-radial from-neutral-400 from-[1px] to-transparent to-[1px] mask-image bg-size-20 dark:from-neutral-700"
    >
    </div>
    <Header />
    <main class="mt-4">
      <slot />
      <BackToTop />
    </main>
    <Footer />
  </body>
</html>
